/*
    Start Color Palette
*/

:root
{
    --darkBlue: #474554;
    --lightBrown: #8F706D;
    --gray: #787586;
    --black: #000;
    --white: #fff;
}

/*
    End Color Palette
*/

/*
    Start Formatting for all document
*/

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a
{
    text-decoration: none;
}

h1,
h2,
h3
{
    font-family: 'Fahkwang', sans-serif;
}

p
{
    font-family: 'Tenor Sans', sans-serif;
}

.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: auto;
    max-width: 100%;
}

/*
    End Formatting for all document
*/

/*
    Start Nav Bar
*/

#nav .nav
{
    position: fixed;
    top: 0;
    z-index: 10;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--white);
    width: 100%;
    height: 20vh;
    padding: 0 10px;
    border-bottom: 5px solid var(--lightBrown);
    transition: 0.3s ease;
}

#nav .nav-logo
{
    width: 50%;
    z-index: 1;
    transition: 0.3s ease;
}

#nav .nav-list
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    flex-wrap: wrap;
}

#nav .nav-list .hamburger
{
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    opacity: 1;
    z-index: 100;
    cursor: pointer;
    row-gap: 8px;
}

#nav .hamburger .bar
{
    width: 70%;
    height: 4px;
    background-color: var(--lightBrown);
    position: relative;
    transition: transform 0.3s ease;
}

/* Active Class Hamburger */

#nav .nav-list .hamburger.active .bar:nth-child(2)
{
    opacity: 0;
}

#nav .nav-list .hamburger.active .bar:nth-child(1)
{
    transform: translateY(12px) rotateZ(45deg);
}

#nav .nav-list .hamburger.active .bar:nth-child(3)
{
    transform: translateY(-12px) rotateZ(-45deg);
}

/* Active Class Hamburger */

#nav .nav-list .nav-items
{
    position: absolute;
    width: 20%;
    height: 10vh;
    right: 40%;
    top: 250%;
    border-radius: 100%;
    opacity: 0;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    overflow: hidden;
}

/* Active Class Mobile Menu*/

#nav .nav-list .nav-items.active
{
    width: 100%;
    height: 100vh;
    right: 0;
    top: 0;
    border-radius: 0%;
    opacity: 1;
}

#nav .nav-list .nav-items.active ul,
#nav .nav-list .nav-items.active .social-media-icons
{
    opacity: 1;
}

/* Active Class Mobile Menu*/

#nav .nav-items ul
{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    transform: translateY(10%);
    opacity: 0;
    transition: 0.5s ease;
}

#nav .nav-items ul li a
{
    display: block;
    width: 100vw;
    text-align: center;
    padding: 2rem 0;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 900;
    color: var(--lightBrown);
    letter-spacing: 2px;
}

#nav .nav-items .social-media-icons
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20vh;
    column-gap: 30px;
    transform: translateY(50%);
    background-color: var(--darkBlue);
    opacity: 0;
    transition: 0.5s ease;
}

#nav .nav-items .social-media-icons .icon
{
    width: 60px;
    height: 60px;
}


/*
    End Nav Bar
*/

/*
    Start Header Section
*/

#header .header
{
    background-color: var(--darkBlue);
    min-height: 100vh;
    align-items: flex-start;
    position: relative;
    margin-top: 20vh;
}

#header .wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    row-gap: 40px;
}

#header .wrapper .header-img-container
{
    width: 100%;
    height: 65vh;
}

#header .wrapper .header-name
{
    width: 100%;
    text-align: center;
    font-weight: 900;
    font-size: 1.3rem;
    color: var(--white);
    text-transform: uppercase;
}

#header .pro-pho
{
    position: absolute;
    bottom: 10%;
    font-size: 1.6rem;
    color: var(--lightBrown);
}

#header .pro-pho p
{
    position: relative;
}
#header .pro-pho p::before
{
    content: '';
    position: absolute;
    width: 20px;
    height: 100%;
    left: -25px;
    top: -2px;
    border-color: var(--lightBrown);
    border-width: 2px 0 2px 2px;
    border-style: solid;
}
#header .pro-pho p::after
{
    content: '';
    position: absolute;
    width: 20px;
    height: 100%;
    right: -25px;
    top: -2px;
    border-color: var(--lightBrown);
    border-width: 2px 2px 2px 0;
    border-style: solid;
}

#header .deco-left-long
{
    position: absolute;
    height: 47vh;
    width: 2px;
    background-color: var(--lightBrown);
    top: 30%;
    left: 5%;
}
#header .deco-left-short
{
    position: absolute;
    height: 2px;
    width: 10%;
    background-color: var(--lightBrown);
    top: 77%;
    left: 5%;
}

#header .deco-right-long
{
    position: absolute;
    height: 47vh;
    width: 2px;
    background-color: var(--lightBrown);
    top: 30%;
    right: 5%;
}
#header .deco-right-short
{
    position: absolute;
    height: 2px;
    width: 10%;
    background-color: var(--lightBrown);
    top: 77%;
    right: 5%;
}

/*
    End Header Section
*/

/*
    Start About Section
*/

#about .wrapper-sections
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#about .wrapper-sections .left-section
{
    width: 100%;
    height: 400px;
}

#about .wrapper-sections .right-section
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-top: 4px solid var(--white);
}

#about .right-section .section-1
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
    background-color: var(--gray);
    border-bottom: 4px solid var(--white);
}

#about .section-1 .wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    row-gap: 20px;
}

#about .section-1 .wrapper .text-box
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    row-gap: 10px;
}

#about .section-1 .wrapper .text-box h2
{
    font-size: 2.5rem;
}

#about .section-1 .wrapper .text-box p
{
    font-size: 1.4rem;
    text-align: center;
    letter-spacing: 0.1rem;
}

#about .section-1 .wrapper .deco
{
    width: 40%;
    height: 150px;
    position: relative;
    display: block;
}
#about .section-1 .wrapper .deco::before
{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    border-width: 2px 2px 0 2px;
    border-style: solid;
    border-color: var(--white);
}
#about .section-1 .wrapper .deco::after
{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    border-width: 0 2px 2px 2px;
    border-style: solid;
    border-color: var(--white);
}

#about .right-section .section-2
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
    background-color: var(--lightBrown);
}

#about .section-2 .wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    row-gap: 20px;
}

#about .section-2 .wrapper .text-box
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    row-gap: 10px;
}

#about .section-2 .wrapper .text-box h2
{
    
    font-size: 2.5rem;
}

#about .section-2 .wrapper .text-box p
{
    font-size: 1.4rem;
    text-align: center;
    letter-spacing: 0.1rem;
}

#about .section-2 .wrapper .deco
{
    width: 40%;
    height: 150px;
    position: relative;
    display: block;
}
#about .section-2 .wrapper .deco::before
{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 20px;
    border-width: 2px 0 2px 2px;
    border-style: solid;
    border-color: var(--white);
}
#about .section-2 .wrapper .deco::after
{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    height: 100%;
    width: 20px;
    border-width: 2px 2px 2px 0;
    border-style: solid;
    border-color: var(--white);
}

/*
    End About Section
*/

/*
    Start Services Section
*/

#services .services
{
    flex-direction: column;
}

#services h1
{
    font-size: 2.5rem;
    margin: 80px 0  80px 0;
    color: var(--black);
    text-transform: uppercase;
}

#services .services-wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    row-gap: 30px;
    margin-bottom: 80px;
}

#services .services-wrapper .left-column
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    row-gap: 50px;
    flex-wrap: wrap;
}

#services .left-column .service-card
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-basis: 100%;
    width: 100%;
    min-height: 35vh;
    position: relative;
}
#services .left-column .service-card::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    border-width: 3px 3px 0 3px;
    border-style: solid;
    border-color: var(--darkBlue);
}
#services .left-column .service-card::after
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    border-width: 0 3px 3px 3px;
    border-style: solid;
    border-color: var(--darkBlue);
}

#services .left-column .service-card .icon-wrapper
{
    width: 110px;
    height: 110px;
}

#services .left-column .service-card h2
{
    font-size: 2rem;
    color: var(--darkBlue);
}

#services .services-wrapper .middle-column
{
    width: 100%;
    height: 80vh;
}

#services .middle-column img
{
    border-radius: 60px;
}

#services .services-wrapper .right-column
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    row-gap: 50px;
    flex-wrap: wrap;
}

#services .right-column .service-card
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-basis: 100%;
    width: 100%;
    min-height: 35vh;
    position: relative;
}
#services .right-column .service-card::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    border-width: 3px 3px 0 3px;
    border-style: solid;
    border-color: var(--darkBlue);
}
#services .right-column .service-card::after
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    border-width: 0 3px 3px 3px;
    border-style: solid;
    border-color: var(--darkBlue);
}

#services .right-column .service-card .icon-wrapper
{
    width: 110px;
    height: 110px;
}

#services .right-column .service-card h2
{
    font-size: 2rem;
    color: var(--darkBlue);
}

/*
    End Services Section
*/

/*
    Start Portfolio Section
*/

#portfolio .portfolio
{
    flex-direction: column;
    background-color: var(--lightBrown);
}

#portfolio h1
{
    font-size: 2.5rem;
    margin: 80px 0  80px 0;
    color: var(--white);
    text-transform: uppercase;
}

#portfolio .portfolio-wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    position: relative;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

#portfolio .portfolio-wrapper .img-container
{
    width: 100%;
    height: 350px;
    position: relative;
    transform: scale(0.5);
    filter: grayscale(100%);
    transition: 0.3s ease;
    position: relative;
}
#portfolio .portfolio-wrapper .img-container:hover::before
{
    opacity: 0;
}

#portfolio .portfolio-wrapper .img-container:hover
{
    transform: scale(1);
    filter: grayscale(0%);
}

#portfolio .portfolio-wrapper .img-container img
{
    border-radius: 50%;
    transition: 0.3s ease;
    filter: blur(0.2rem);
}

#portfolio .portfolio-wrapper .img-container:hover img
{
    border-radius: 0%;
    filter: blur(0);
}

#portfolio .portfolio-wrapper .deco1,
#portfolio .portfolio-wrapper .deco2,
#portfolio .portfolio-wrapper .deco3,
#portfolio .portfolio-wrapper .deco4
{
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    border-style: solid;
    border-color: var(--white);
}
#portfolio .portfolio-wrapper .deco1
{
    border-width: 3px 0 0 3px;
    top: -30px;
    left: -20px;
}
#portfolio .portfolio-wrapper .deco2
{
    border-width: 3px 3px 0 0;
    top: -30px;
    right: -20px;
}
#portfolio .portfolio-wrapper .deco3
{
    border-width: 0 0 3px 3px;
    bottom: -30px;
    left: -20px;
}
#portfolio .portfolio-wrapper .deco4
{
    border-width: 0 3px 3px 0;
    bottom: -30px;
    right: -20px;
}

/*
    End Portfolio Section
*/

/*
    Start Packs Section
*/

#packs .packs
{
    min-height: 100vh;
    background-color: var(--gray);
}

#packs .packs-wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

#packs .packs-wrapper .pack-card
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    border-bottom: 4px solid var(--white);
}
#packs .packs-wrapper .pack-card:last-child
{
    border-bottom: none;
}

#packs .pack-card .information-box
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 40vh;
    color: var(--white);
}

#packs .pack-card .information-box h2
{
    font-size: 2.5rem;
}

#packs .pack-card .information-box ul
{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-size: 1.5rem;
    position: relative;
}
#packs .pack-card .information-box ul::before
{
    content: '';
    position: absolute;
    width: 70%;
    height: 3px;
    background-color: var(--white);
    top: -30px;
    left: 50%;
    transform: translate(-50%, 0);
}
#packs .pack-card .information-box ul::after
{
    content: '';
    position: absolute;
    width: 70%;
    height: 3px;
    background-color: var(--white);
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 0);
}

#packs .pack-card .img-container
{
    width: 100%;
    height: 40vh;
    position: relative;
    overflow: hidden;
}

#packs .pack-card .img-container img
{
    filter: grayscale(100%);
}

#packs .pack-card .img-container .hover-animation
{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--white);
    margin-top: 100%;
    transition: 0.3s ease;
}
#packs .pack-card .img-container:hover .hover-animation
{
    margin-top: 0;
}

#packs .pack-card .img-container .hover-animation h2
{
    font-size: 2rem;
    letter-spacing: 2px;
}

#packs .pack-card .img-container .hover-animation a
{
    padding: 1.5rem 3rem;
    color: var(--white);
    font-size: 1.1rem;
    letter-spacing: 2px;
    border: 2px solid var(--white);
    position: relative;
    text-transform: uppercase;
    transition: 0.3s ease;
}
#packs .pack-card .img-container .hover-animation a:hover
{
    color: var(--black);
}

#packs .pack-card .img-container .hover-animation a::before
{
    content: '';
    position: absolute;
    background-color: var(--white);
    width: 25%;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.3s ease;
    z-index: -1;
}
#packs .pack-card .img-container .hover-animation a:hover::before
{
    width: 100%;
    opacity: 1;
}

#packs .img-container .hover-me
{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 1.2rem;
    font-weight: 900;
    transition: 0.3s ease;
}

#packs .img-container .hover-me p
{
    background-color: var(--black);
    color: var(--white);
    padding: 10px 15px;
}
#packs .pack-card .img-container:hover .hover-me
{
    opacity: 0;
    transform: scale(0.2);
}

/*
    End Packs Section
*/

/*
    Start Contact Section
*/

#contact .contact
{
    background-color: var(--darkBlue);
    position: relative;
}

#contact .contact-wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 85%;
    margin: 150px 0 100px 0;
    background-color: var(--lightBrown);
    row-gap: 20px;
    height: 80vh;
}

#contact .img-container
{
    width: 40%;
    height: 130px;
    position: relative;
    transform: translateY(-30px);
}
#contact .img-container::before
{
    position: absolute;
    content: '';
    width: 120%;
    height: 120%;
    background-color: var(--lightBrown);
    border-radius: 100%;
    z-index: -1;
    left: -10%;
    top: -10%;
}

#contact .img-container img
{
    border-radius: 100%;
}

#contact h2
{
    color: var(--white);
    font-size: 1.8rem;
}

#contact form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    row-gap: 20px;
    flex-wrap: wrap;
}

#contact form input[type=text],
#contact form input[type=email]
{
    width: 100%;
    height: 70px;
    font-size: 1.3rem;
    text-align: center;
}

#contact textarea
{
    width: 100%;
    font-size: 1.3rem;
    text-align: center;
    padding-top: 10px;
    resize: none;
}

#contact #form-button
{
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    border-radius: 20px;
    border: 3px solid var(--white);
    background-color: var(--gray);
    color: var(--white);
    transition: 0.3s ease;
    font-weight: 900;
}

#contact #form-button:hover
{
    background-color: var(--white);
    color: var(--gray);
}

#contact form input[type=text]:focus,
#contact form input[type=email]:focus,
#contact textarea:focus
{
    outline-color: var(--black);
}

#contact h2,
#contact form input[type=text],
#contact form input[type=email],
#contact textarea
{
    transform: translateY(-20px);
}

/*
    End Contact Section
*/

/* 
    Start Media Query for Tablet 
*/

@media only screen and (min-width: 768px)
{

    /*
        Start Header Tablet
    */

    #header .header
    {
        min-height: 85vh;
    }

    #header .wrapper
    {
        width: 80%;
        row-gap: 40px;
    }

    #header .wrapper .header-name
    {
        font-size: 1.8rem;
    }

    #header .pro-pho
    {
        bottom: 5%;
        right: 8%;
        font-size: 2rem;
    }

    #header .deco-left-long
    {
        width: 4px;
    }
    #header .deco-left-short
    {
        height: 4px;
        width: 8%;
        top: 85%;
    }

    #header .deco-right-long
    {
        width: 4px;
    }
    #header .deco-right-short
    {
        height: 4px;
        width: 8%;
        top: 85%;
    }

    /*
        End Header Tablet
    */

    /*
        Start About Tablet
    */

    #about .wrapper-sections .left-section
    {
        width: 100%;
        height: 700px;
    }

    #about .wrapper-sections .right-section
    {
        flex-direction: row;
    }

    #about .right-section .section-1
    {
        width: 50%;
        height: 45vh;
        border-bottom: none;
        border-right: 4px solid var(--white);
    }

    #about .section-1 .wrapper
    {
        width: 90%;
        row-gap: 30px;
    }

    #about .section-1 .wrapper .text-box h2
    {
        font-size: 3rem;
    }

    #about .section-1 .wrapper .text-box p
    {
        font-size: 1.7rem;
    }

    #about .section-1 .wrapper .deco
    {
        width: 50%;
        height: 200px;
    }
    #about .section-1 .wrapper .deco::before
    {
        
        border-width: 4px 4px 0 4px;
    }
    #about .section-1 .wrapper .deco::after
    {
        border-width: 0 4px 4px 4px;
    }

    #about .right-section .section-2
    {
        width: 50%;
        height: 45vh;
    }

    #about .section-2 .wrapper
    {
        width: 90%;
        row-gap: 30px;
    }

    #about .section-2 .wrapper .text-box h2
    {
        font-size: 3rem;
    }

    #about .section-2 .wrapper .text-box p
    {
        font-size: 1.7rem;
    }

    #about .section-2 .wrapper .deco
    {
        width: 50%;
        height: 200px;
    }
    #about .section-2 .wrapper .deco::before
    {
        border-width: 4px 0 4px 4px;
    }
    #about .section-2 .wrapper .deco::after
    {
        border-width: 4px 4px 4px 0;
    }

    /*
        End About Tablet
    */

    /*
        Start Services Tablet
    */

    #services h1
    {
        font-size: 3.5rem;
        letter-spacing: 0.2rem;
    }

    #services .services-wrapper .left-column
    {
        flex-direction: row;
        column-gap: 50px;
    }

    #services .left-column .service-card
    {
        flex-basis: 45%;
        min-height: 30vh;
    }
    #services .left-column .service-card::before
    {
        height: 5vh;
    }
    #services .left-column .service-card::after
    {
        height: 5vh;
    }

    #services .left-column .service-card .icon-wrapper
    {
        width: 130px;
        height: 130px;
    }

    #services .left-column .service-card h2
    {
        font-size: 2.2rem;
    }

    #services .services-wrapper .middle-column
    {
        width: 70%;
    }

    #services .services-wrapper .right-column
    {
        flex-direction: row;
        column-gap: 50px;
    }

    #services .right-column .service-card
    {
        flex-basis: 45%;
        min-height: 30vh;
    }
    #services .right-column .service-card::before
    {
        height: 5vh;
    }
    #services .right-column .service-card::after
    {
        height: 5vh;
    }

    #services .right-column .service-card .icon-wrapper
    {
        width: 130px;
        height: 130px;
    }

    #services .right-column .service-card h2
    {
        font-size: 2.2rem;
    }

    /*
        End Services Tablet
    */

    /*
        Start Portfolio Tablet
    */

    #portfolio h1
    {
        font-size: 3.5rem;
        letter-spacing: 0.2rem;
    }

    #portfolio .portfolio-wrapper
    {
        flex-direction: row;
    }

    #portfolio .portfolio-wrapper .img-container
    {
        width: 50%;
    }

    #portfolio .portfolio-wrapper .deco1,
    #portfolio .portfolio-wrapper .deco2,
    #portfolio .portfolio-wrapper .deco3,
    #portfolio .portfolio-wrapper .deco4
    {
        width: 50px;
        height: 50px;
    }

    /* 
        End Protfolio Tablet
    */

    /*
        Start Packs Section
    */

    #packs .packs-wrapper
    {
        flex-direction: row;
    }

    #packs .packs-wrapper .pack-card:nth-child(2n + 1)
    {
        flex-direction: row;
    }

    #packs .packs-wrapper .pack-card:nth-child(2n + 2)
    {
        flex-direction: row-reverse;
    }

    #packs .pack-card .information-box
    {
        width: 50%;
        height: 35vh;
    }

    #packs .pack-card .information-box h2
    {
        font-size: 2.7rem;
    }

    #packs .pack-card .information-box ul
    {
        font-size: 1.8rem;
    }

    #packs .pack-card .img-container
    {
        width: 50%;
        height: 35vh;
    }

    #packs .pack-card .img-container .hover-animation
    {
        margin-top: 105%;
    }

    #packs .pack-card .img-container .hover-animation h2
    {
        font-size: 2.3rem;
    }

    #packs .pack-card .img-container .hover-animation a
    {
        font-size: 1.4rem;
    }

    /*
        End Packs Section
    */

    /*
        Start Contact Tablet
    */

    #contact .contact
    {
        min-height: 100vh;
    }

    #contact .contact-wrapper
    {
        width: 80%;
        height: 70vh;
    }

    #contact .img-container
    {
        transform: translateY(-60px);
        height: 200px;
        width: 30%;
    }

    #contact h2
    {
        font-size: 2.5rem;
    }

    #contact form
    {
        width: 85%;
    }

    #contact form input[type=text],
    #contact form input[type=email],
    #contact textarea
    {
        font-size: 1.7rem;
    }

    #contact #form-button
    {
        padding: 1.3rem 3rem;
    }

    #contact h2,
    #contact form input[type=text],
    #contact form input[type=email],
    #contact textarea
    {
        transform: translateY(-40px);
    }

    #contact .top-vertical,
    #contact .top-horizontal,
    #contact .bottom-vertical,
    #contact .bottom-horizontal
    {
        position: absolute;
        content: '';
        background-color: var(--lightBrown);
    }

    #contact .top-vertical
    {
        width: 3px;
        height: 20vh;
        right: 5%;
        top: 13%;
    }

    #contact .top-horizontal
    {
        width: 25%;
        height: 3px;
        top: 13%;
        right: 5%;
    }

    #contact .bottom-vertical
    {
        width: 3px;
        height: 15%;
        left: 5%;
        bottom: 5%;
    }

    #contact .bottom-horizontal
    {
        width: 70%;
        height: 3px;
        left: 5%;
        bottom: 5%;
    }

    /*
        End Contact Tablet
    */

}

/* 
    End Media Query for Tablet 
*/

/* 
    Start Media Query for Desktop 
*/

@media only screen and (min-width: 1200px)
{

    /*
        Start Header Desktop
    */

    #header .header
    {
        min-height: 100vh;
    }

    #header .wrapper
    {
        row-gap: 20px;
    }

    #header .wrapper .header-img-container
    {
        height: 75vh;
    }

    #header .wrapper .header-name
    {
        font-size: 2.3rem;
        letter-spacing: 2px;
    }

    #header .pro-pho
    {
        right: 6.5%;
        bottom: 4%;
    }

    #header .deco-left-long
    {
        height: 55vh;
    }
    #header .deco-left-short
    {
        width: 15%;
    }

    #header .deco-right-long
    {
        height: 55vh;
    }
    #header .deco-right-short
    {
        width: 15%;
    }

    /*
        End Header Desktop
    */

    /*
        Start About Desktop
    */

    #about .about
    {
        min-height: 100vh;
    }

    #about .wrapper-sections
    {
        flex-direction: row;
    }

    #about .wrapper-sections .left-section
    {
        width: 50%;
        min-height: 100vh;
    }

    #about .wrapper-sections .right-section
    {
        display: flex;
        flex-direction: column;
        width: 50%;
        border-top: none;
        border-left: 4px solid var(--white);
    }

    #about .right-section .section-1
    {
        width: 100%;
        height: 50vh;
        border-right: none;
        border-bottom: 4px solid var(--white);
    }

    #about .section-1 .wrapper
    {
        flex-direction: row;
        width: 80%;
        row-gap: none;
    }

    #about .section-1 .wrapper .text-box
    {
        display: flex;
        align-items: flex-start;
        row-gap: 10px;
        width: 80%;
    }

    #about .section-1 .wrapper .text-box h2
    {
        font-size: 3rem;
    }
    
    #about .section-1 .wrapper .text-box p
    {
        font-size: 1.6rem;
        text-align: left;
        width: 80%;
    }

    #about .section-1 .wrapper .deco
    {
        width: 30%;
        height: 200px;
    }

    #about .right-section .section-2
    {
        width: 100%;
        height: 50vh;
        border-right: none;
    }

    #about .section-2 .wrapper
    {
        flex-direction: row-reverse;
        width: 80%;
        row-gap: none;
    }

    #about .section-2 .wrapper .text-box
    {
        display: flex;
        align-items: flex-end;
        row-gap: 10px;
        width: 80%;
    }

    #about .section-2 .wrapper .text-box h2
    {
        font-size: 3rem;
    }
    
    #about .section-2 .wrapper .text-box p
    {
        font-size: 1.6rem;
        text-align: right;
        width: 80%;
    }

    #about .section-2 .wrapper .deco
    {
        width: 30%;
        height: 200px;
    }

    /*
        End About Desktop
    */

    /*
        Start Services Desktop
    */

    #services .services-wrapper
    {
        flex-direction: row;
        width: 80%;
        column-gap: 50px;
    }

    #services .services-wrapper .left-column
    {
        flex-direction: column;
        width: 30%;
        row-gap: 80px;
    }

    #services .left-column .service-card
    {
        flex-basis: 100%;
        min-height: 40vh;
    }
    #services .left-column .service-card::before
    {
        height: 7vh;
    }
    #services .left-column .service-card::after
    {
        height: 7vh;
    }

    #services .left-column .service-card:nth-child(2)
    {
        transform: translateX(-30%);
    }

    #services .left-column .service-card .icon-wrapper
    {
        width: 110px;
        height: 110px;
    }

    #services .services-wrapper .middle-column
    {
        width: 33%;
        height: 143vh;
    }

    #services .services-wrapper .right-column
    {
        flex-direction: column;
        width: 30%;
        row-gap: 90px;
    }

    #services .right-column .service-card
    {
        flex-basis: 100%;
        min-height: 40vh;
    }
    #services .right-column .service-card::before
    {
        height: 7vh;
    }
    #services .right-column .service-card::after
    {
        height: 7vh;
    }

    #services .right-column .service-card:nth-child(2)
    {
        transform: translateX(30%);
    }

    #services .right-column .service-card .icon-wrapper
    {
        width: 110px;
        height: 110px;
    }

    /*
        End Services Desktop
    */

    /*
        Start Portfolio Desktop
    */

    #portfolio .portfolio-wrapper .img-container
    {
        width: 33%;
        height: 400px;
    }

    /*
        End Portfolio Desktop
    */

    /*
        Start Packs Desktop
    */

    #packs .packs-wrapper .pack-card
    {
        width: 50%;
        border-bottom: none;
    }

    #packs .packs-wrapper .pack-card:nth-child(1),
    #packs .packs-wrapper .pack-card:nth-child(4)
    {
        flex-direction: row;
    }

    #packs .packs-wrapper .pack-card:nth-child(2),
    #packs .packs-wrapper .pack-card:nth-child(3)
    {
        flex-direction: row-reverse;
    }

    #packs .packs-wrapper .pack-card:nth-child(1),
    #packs .packs-wrapper .pack-card:nth-child(3)
    {
        border-right: 4px solid var(--white);
    }

    #packs .packs-wrapper .pack-card:nth-child(1),
    #packs .packs-wrapper .pack-card:nth-child(2)
    {
        border-bottom: 4px solid var(--white);
    }

    #packs .pack-card .information-box
    {
        height: 50vh;
    }

    #packs .pack-card .img-container
    {
        height: 50vh;
    }

    /*
        End Packs Desktop
    */

    /*
        Start Contact Desktop
    */

    #contact .contact-wrapper
    {
        width: 50%;
        margin: 0;
    }

    #contact .img-container
    {
        width: 17%;
        transform: translateY(-20px);
    }

    #contact h2
    {
        font-size: 2.5rem;
    }

    #contact form
    {
        row-gap: 20px;
        flex-direction: row;
        justify-content: center;
        column-gap: 64px;
    }

    #contact form input[type=text],
    #contact form input[type=email]
    {
        width: 45%;
    }

    #contact textarea
    {
        height: 200px;
    }

    #contact h2,
    #contact form input[type=text],
    #contact form input[type=email],
    #contact textarea
    {
        transform: translateY(-20px);
    }

    #contact .top-vertical
    {
        height: 25vh;
        right: 13%;
        top: 10%;
    }

    #contact .top-horizontal
    {
        top: 10%;
        right: 13%;
        width: 30%;
    }

    #contact .bottom-vertical
    {
        left: 9%;
        bottom: 4%;
        height: 30%;
    }

    #contact .bottom-horizontal
    {
        left: 9%;
        bottom: 4%;
        width: 55%;
    }

    /*
        End Contact Desktop
    */

}

/* 
    End Media Query for Desktop 
*/