/*
    Start Color Palette
*/

:root
{
    --darkBlue: #474554;
    --lightBrown: #8F706D;
    --gray: #787586;
    --black: #000;
    --white: #fff;
}

/*
    End Color Palette
*/

/*
    Start Formatting for all document
*/

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a
{
    text-decoration: none;
}

h1,
h2,
h3
{
    font-family: 'Fahkwang', sans-serif;
}

p
{
    font-family: 'Tenor Sans', sans-serif;
}

.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: auto;
    max-width: 100%;
}

/*
    End Formatting for all document
*/

/*
    Start Header Section
*/

#header .header
{
    background-color: var(--darkBlue);
    min-height: 100vh;
    align-items: flex-start;
    position: relative;
}

#header .wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    row-gap: 40px;
}

#header .wrapper .header-img-container
{
    width: 100%;
    height: 65vh;
}

#header .wrapper .header-name
{
    width: 100%;
    text-align: center;
    font-weight: 900;
    font-size: 1.3rem;
    color: var(--white);
    text-transform: uppercase;
}

#header .pro-pho
{
    position: absolute;
    bottom: 10%;
    font-size: 1.6rem;
    color: var(--lightBrown);
}

#header .pro-pho p
{
    position: relative;
}
#header .pro-pho p::before
{
    content: '';
    position: absolute;
    width: 20px;
    height: 100%;
    left: -25px;
    top: -2px;
    border-color: var(--lightBrown);
    border-width: 2px 0 2px 2px;
    border-style: solid;
}
#header .pro-pho p::after
{
    content: '';
    position: absolute;
    width: 20px;
    height: 100%;
    right: -25px;
    top: -2px;
    border-color: var(--lightBrown);
    border-width: 2px 2px 2px 0;
    border-style: solid;
}

#header .deco-left-long
{
    position: absolute;
    height: 47vh;
    width: 2px;
    background-color: var(--lightBrown);
    top: 30%;
    left: 5%;
}
#header .deco-left-short
{
    position: absolute;
    height: 2px;
    width: 10%;
    background-color: var(--lightBrown);
    top: 77%;
    left: 5%;
}

#header .deco-right-long
{
    position: absolute;
    height: 47vh;
    width: 2px;
    background-color: var(--lightBrown);
    top: 30%;
    right: 5%;
}
#header .deco-right-short
{
    position: absolute;
    height: 2px;
    width: 10%;
    background-color: var(--lightBrown);
    top: 77%;
    right: 5%;
}

/*
    End Header Section
*/

/*
    Start About Section
*/

#about .wrapper-sections
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#about .wrapper-sections .left-section
{
    width: 100%;
    height: 400px;
}

#about .wrapper-sections .right-section
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-top: 4px solid var(--white);
}

#about .right-section .section-1
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
    background-color: var(--gray);
    border-bottom: 4px solid var(--white);
}

#about .section-1 .wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    row-gap: 20px;
}

#about .section-1 .wrapper .text-box
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    row-gap: 10px;
}

#about .section-1 .wrapper .text-box h2
{
    font-size: 2.5rem;
}

#about .section-1 .wrapper .text-box p
{
    font-size: 1.4rem;
    text-align: center;
    letter-spacing: 0.1rem;
}

#about .section-1 .wrapper .deco
{
    width: 40%;
    height: 150px;
    position: relative;
    display: block;
}
#about .section-1 .wrapper .deco::before
{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    border-width: 2px 2px 0 2px;
    border-style: solid;
    border-color: var(--white);
}
#about .section-1 .wrapper .deco::after
{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    border-width: 0 2px 2px 2px;
    border-style: solid;
    border-color: var(--white);
}

#about .right-section .section-2
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
    background-color: var(--lightBrown);
}

#about .section-2 .wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    row-gap: 20px;
}

#about .section-2 .wrapper .text-box
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    row-gap: 10px;
}

#about .section-2 .wrapper .text-box h2
{
    
    font-size: 2.5rem;
}

#about .section-2 .wrapper .text-box p
{
    font-size: 1.4rem;
    text-align: center;
    letter-spacing: 0.1rem;
}

#about .section-2 .wrapper .deco
{
    width: 40%;
    height: 150px;
    position: relative;
    display: block;
}
#about .section-2 .wrapper .deco::before
{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 20px;
    border-width: 2px 0 2px 2px;
    border-style: solid;
    border-color: var(--white);
}
#about .section-2 .wrapper .deco::after
{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    height: 100%;
    width: 20px;
    border-width: 2px 2px 2px 0;
    border-style: solid;
    border-color: var(--white);
}

/*
    End About Section
*/

/*
    Start Services Section
*/

#services .services
{
    flex-direction: column;
}

#services h1
{
    font-size: 2.5rem;
    margin: 80px 0  80px 0;
    color: var(--black);
    text-transform: uppercase;
}

#services .services-wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    row-gap: 30px;
    margin-bottom: 80px;
}

#services .services-wrapper .left-column
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    row-gap: 50px;
    flex-wrap: wrap;
}

#services .left-column .service-card
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-basis: 100%;
    width: 100%;
    min-height: 35vh;
    position: relative;
}
#services .left-column .service-card::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    border-width: 3px 3px 0 3px;
    border-style: solid;
    border-color: var(--darkBlue);
}
#services .left-column .service-card::after
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    border-width: 0 3px 3px 3px;
    border-style: solid;
    border-color: var(--darkBlue);
}

#services .left-column .service-card .icon-wrapper
{
    width: 110px;
    height: 110px;
}

#services .left-column .service-card h2
{
    font-size: 2rem;
    color: var(--darkBlue);
}

#services .services-wrapper .middle-column
{
    width: 100%;
    height: 80vh;
}

#services .middle-column img
{
    border-radius: 60px;
}

#services .services-wrapper .right-column
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    row-gap: 50px;
    flex-wrap: wrap;
}

#services .right-column .service-card
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-basis: 100%;
    width: 100%;
    min-height: 35vh;
    position: relative;
}
#services .right-column .service-card::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    border-width: 3px 3px 0 3px;
    border-style: solid;
    border-color: var(--darkBlue);
}
#services .right-column .service-card::after
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    border-width: 0 3px 3px 3px;
    border-style: solid;
    border-color: var(--darkBlue);
}

#services .right-column .service-card .icon-wrapper
{
    width: 110px;
    height: 110px;
}

#services .right-column .service-card h2
{
    font-size: 2rem;
    color: var(--darkBlue);
}

/*
    End Services Section
*/

/* 
    Start Media Query for Tablet 
*/

@media only screen and (min-width: 768px)
{

    /*
        Start Header Tablet
    */

    #header .header
    {
        min-height: 85vh;
    }

    #header .wrapper
    {
        width: 80%;
        row-gap: 40px;
    }

    #header .wrapper .header-name
    {
        font-size: 1.8rem;
    }

    #header .pro-pho
    {
        bottom: 5%;
        right: 8%;
        font-size: 2rem;
    }

    #header .deco-left-long
    {
        width: 4px;
    }
    #header .deco-left-short
    {
        height: 4px;
        width: 8%;
        top: 85%;
    }

    #header .deco-right-long
    {
        width: 4px;
    }
    #header .deco-right-short
    {
        height: 4px;
        width: 8%;
        top: 85%;
    }

    /*
        End Header Tablet
    */

    /*
        Start About Tablet
    */

    #about .wrapper-sections .left-section
    {
        width: 100%;
        height: 700px;
    }

    #about .wrapper-sections .right-section
    {
        flex-direction: row;
    }

    #about .right-section .section-1
    {
        width: 50%;
        height: 45vh;
        border-bottom: none;
        border-right: 4px solid var(--white);
    }

    #about .section-1 .wrapper
    {
        width: 90%;
        row-gap: 30px;
    }

    #about .section-1 .wrapper .text-box h2
    {
        font-size: 3rem;
    }

    #about .section-1 .wrapper .text-box p
    {
        font-size: 1.7rem;
    }

    #about .section-1 .wrapper .deco
    {
        width: 50%;
        height: 200px;
    }
    #about .section-1 .wrapper .deco::before
    {
        
        border-width: 4px 4px 0 4px;
    }
    #about .section-1 .wrapper .deco::after
    {
        border-width: 0 4px 4px 4px;
    }

    #about .right-section .section-2
    {
        width: 50%;
        height: 45vh;
    }

    #about .section-2 .wrapper
    {
        width: 90%;
        row-gap: 30px;
    }

    #about .section-2 .wrapper .text-box h2
    {
        font-size: 3rem;
    }

    #about .section-2 .wrapper .text-box p
    {
        font-size: 1.7rem;
    }

    #about .section-2 .wrapper .deco
    {
        width: 50%;
        height: 200px;
    }
    #about .section-2 .wrapper .deco::before
    {
        border-width: 4px 0 4px 4px;
    }
    #about .section-2 .wrapper .deco::after
    {
        border-width: 4px 4px 4px 0;
    }

    /*
        End About Tablet
    */

    /*
        Start Services Tablet
    */

    #services h1
    {
        font-size: 3.5rem;
        letter-spacing: 0.2rem;
    }

    #services .services-wrapper .left-column
    {
        flex-direction: row;
        column-gap: 50px;
    }

    #services .left-column .service-card
    {
        flex-basis: 45%;
        min-height: 30vh;
    }
    #services .left-column .service-card::before
    {
        height: 5vh;
    }
    #services .left-column .service-card::after
    {
        height: 5vh;
    }

    #services .left-column .service-card .icon-wrapper
    {
        width: 130px;
        height: 130px;
    }

    #services .left-column .service-card h2
    {
        font-size: 2.2rem;
    }

    #services .services-wrapper .middle-column
    {
        width: 70%;
    }

    #services .services-wrapper .right-column
    {
        flex-direction: row;
        column-gap: 50px;
    }

    #services .right-column .service-card
    {
        flex-basis: 45%;
        min-height: 30vh;
    }
    #services .right-column .service-card::before
    {
        height: 5vh;
    }
    #services .right-column .service-card::after
    {
        height: 5vh;
    }

    #services .right-column .service-card .icon-wrapper
    {
        width: 130px;
        height: 130px;
    }

    #services .right-column .service-card h2
    {
        font-size: 2.2rem;
    }

    /*
        End Services Tablet
    */

}

/* 
    End Media Query for Tablet 
*/

/* 
    Start Media Query for Desktop 
*/

@media only screen and (min-width: 1200px)
{

    /*
        Start Header Desktop
    */

    #header .header
    {
        min-height: 100vh;
    }

    #header .wrapper
    {
        row-gap: 20px;
    }

    #header .wrapper .header-img-container
    {
        height: 75vh;
    }

    #header .wrapper .header-name
    {
        font-size: 2.3rem;
        letter-spacing: 2px;
    }

    #header .pro-pho
    {
        right: 6.5%;
        bottom: 4%;
    }

    #header .deco-left-long
    {
        height: 55vh;
    }
    #header .deco-left-short
    {
        width: 15%;
    }

    #header .deco-right-long
    {
        height: 55vh;
    }
    #header .deco-right-short
    {
        width: 15%;
    }

    /*
        End Header Desktop
    */

    /*
        Start About Desktop
    */

    #about .about
    {
        min-height: 100vh;
    }

    #about .wrapper-sections
    {
        flex-direction: row;
    }

    #about .wrapper-sections .left-section
    {
        width: 50%;
        min-height: 100vh;
    }

    #about .wrapper-sections .right-section
    {
        display: flex;
        flex-direction: column;
        width: 50%;
        border-top: none;
        border-left: 4px solid var(--white);
    }

    #about .right-section .section-1
    {
        width: 100%;
        height: 50vh;
        border-right: none;
        border-bottom: 4px solid var(--white);
    }

    #about .section-1 .wrapper
    {
        flex-direction: row;
        width: 80%;
        row-gap: none;
    }

    #about .section-1 .wrapper .text-box
    {
        display: flex;
        align-items: flex-start;
        row-gap: 10px;
        width: 80%;
    }

    #about .section-1 .wrapper .text-box h2
    {
        font-size: 3rem;
    }
    
    #about .section-1 .wrapper .text-box p
    {
        font-size: 1.6rem;
        text-align: left;
        width: 80%;
    }

    #about .section-1 .wrapper .deco
    {
        width: 30%;
        height: 200px;
    }

    #about .right-section .section-2
    {
        width: 100%;
        height: 50vh;
        border-right: none;
    }

    #about .section-2 .wrapper
    {
        flex-direction: row-reverse;
        width: 80%;
        row-gap: none;
    }

    #about .section-2 .wrapper .text-box
    {
        display: flex;
        align-items: flex-end;
        row-gap: 10px;
        width: 80%;
    }

    #about .section-2 .wrapper .text-box h2
    {
        font-size: 3rem;
    }
    
    #about .section-2 .wrapper .text-box p
    {
        font-size: 1.6rem;
        text-align: right;
        width: 80%;
    }

    #about .section-2 .wrapper .deco
    {
        width: 30%;
        height: 200px;
    }

    /*
        End About Desktop
    */

    /*
        Start Services Desktop
    */

    #services .services-wrapper
    {
        flex-direction: row;
        width: 80%;
        column-gap: 50px;
    }

    #services .services-wrapper .left-column
    {
        flex-direction: column;
        width: 30%;
        row-gap: 80px;
    }

    #services .left-column .service-card
    {
        flex-basis: 100%;
        min-height: 40vh;
    }
    #services .left-column .service-card::before
    {
        height: 7vh;
    }
    #services .left-column .service-card::after
    {
        height: 7vh;
    }

    #services .left-column .service-card:nth-child(2)
    {
        transform: translateX(-30%);
    }

    #services .left-column .service-card .icon-wrapper
    {
        width: 110px;
        height: 110px;
    }

    #services .services-wrapper .middle-column
    {
        width: 33%;
        height: 143vh;
    }

    #services .services-wrapper .right-column
    {
        flex-direction: column;
        width: 30%;
        row-gap: 90px;
    }

    #services .right-column .service-card
    {
        flex-basis: 100%;
        min-height: 40vh;
    }
    #services .right-column .service-card::before
    {
        height: 7vh;
    }
    #services .right-column .service-card::after
    {
        height: 7vh;
    }

    #services .right-column .service-card:nth-child(2)
    {
        transform: translateX(30%);
    }

    #services .right-column .service-card .icon-wrapper
    {
        width: 110px;
        height: 110px;
    }

    /*
        End Services Desktop
    */

}

/* 
    End Media Query for Desktop 
*/